<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>GroupSelectServlet</display-name>
    <servlet-name>GroupSelectServlet</servlet-name>
    <servlet-class>servlet.GroupSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupSelectServlet</servlet-name>
    <url-pattern>/GroupSelectServlet</url-pattern>
  </servlet-mapping>
  <display-name>project01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartGroupServlet</display-name>
    <servlet-name>StartGroupServlet</servlet-name>
    <servlet-class>servlet.StartGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartGroupServlet</servlet-name>
    <url-pattern>/StartGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudyServlet</display-name>
    <servlet-name>StudyServlet</servlet-name>
    <servlet-class>servlet.StudyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudyServlet</servlet-name>
    <url-pattern>/StudyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetProgressServlet</display-name>
    <servlet-name>ResetProgressServlet</servlet-name>
    <servlet-class>servlet.ResetProgressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetProgressServlet</servlet-name>
    <url-pattern>/ResetProgressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinishGroupServlet</display-name>
    <servlet-name>FinishGroupServlet</servlet-name>
    <servlet-class>servlet.FinishGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishGroupServlet</servlet-name>
    <url-pattern>/FinishGroupServlet</url-pattern>
  </servlet-mapping>
</web-app>